/* You can add global styles to this file, and also import other style files */

body {
    background-color: #181818;
}

.sidenav {
    background-color: #212121;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #000;
}